// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {

	position: center;
}

h2 {

	position: center;
}
h3 {

	position: center;
}
h4 {

	position: center;
}

p {

	position: center;
}
